@font-face {
  font-family: SF Pro Display;
  src: url("../assets/fonts/SFProDisplay-Ultralight.ttf");
  font-weight: 200; }

@font-face {
  font-family: SF Pro Display;
  src: url("../assets/fonts/SFProDisplay-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: SF Pro Display;
  src: url("../assets/fonts/SFProDisplay-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: SF Pro Display;
  src: url("../assets/fonts/SFProDisplay-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: SF Pro Display;
  src: url("../assets/fonts/SFProDisplay-Semibold.ttf");
  font-weight: 600; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'SF Pro Display', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; }

main {
  margin-top: 44px; }

@media (max-width: 768px) {
  main {
    margin-top: 48px; } }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

nav {
  height: 44px;
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5; }
  nav .nav__wrapper {
    padding: 0 22px;
    height: 100%; }
    nav .nav__wrapper .nav__container {
      max-width: 1000px;
      padding: 0 11px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      nav .nav__wrapper .nav__container .nav__item {
        font-size: 14px;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center; }
        nav .nav__wrapper .nav__container .nav__item .nav__link {
          color: #f5f5f7;
          padding: 5px;
          margin: 0 6px;
          opacity: 0.8;
          transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
          font-weight: 300; }
          nav .nav__wrapper .nav__container .nav__item .nav__link:hover {
            opacity: 1; }
        nav .nav__wrapper .nav__container .nav__item .nav__link__img {
          height: 40px;
          width: 40px; }
        nav .nav__wrapper .nav__container .nav__item .nav__link__logo {
          background: url("../assets/images/nav/apple-logo.svg") center no-repeat; }
        nav .nav__wrapper .nav__container .nav__item .nav__link__search {
          background: url("../assets/images/nav/search.svg") center no-repeat;
          width: 24px; }
        nav .nav__wrapper .nav__container .nav__item .nav__link__bag {
          background: url("../assets/images/nav/bag.svg") center no-repeat;
          width: 24 px; }

@media (max-width: 768px) {
  nav {
    height: 48px; }
    nav .nav__wrapper {
      padding: 0; }
      nav .nav__wrapper .nav__container {
        padding: 0; }
        nav .nav__wrapper .nav__container .nav__item__toggle {
          width: 50px;
          justify-content: center; }
          nav .nav__wrapper .nav__container .nav__item__toggle .nav__link__menu__icon {
            position: relative;
            width: 17px; }
            nav .nav__wrapper .nav__container .nav__item__toggle .nav__link__menu__icon span {
              position: absolute;
              left: 0;
              width: 100%;
              height: 1px;
              background: #f5f5f7; }
              nav .nav__wrapper .nav__container .nav__item__toggle .nav__link__menu__icon span:nth-of-type(1) {
                top: 15%; }
              nav .nav__wrapper .nav__container .nav__item__toggle .nav__link__menu__icon span:nth-of-type(2) {
                top: 85%; }
        nav .nav__wrapper .nav__container .nav__item__text,
        nav .nav__wrapper .nav__container .nav__item__search {
          display: none; } }

@media (min-width: 769px) {
  nav .nav__wrapper .nav__container .nav__item__toggle {
    display: none; } }

#ribbon {
  background-color: white;
  color: #1d1d1f;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  display: flex; }
  #ribbon .ribbon__container {
    text-align: center;
    font-size: 14px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
    #ribbon .ribbon__container p {
      padding: 12px 0;
      margin: 0;
      line-height: 1.4; }
      #ribbon .ribbon__container p a {
        color: #06c; }
        #ribbon .ribbon__container p a:hover {
          text-decoration: underline; }

@media (min-width: 735px) {
  #ribbon__contact__sm {
    display: none; }
  br {
    display: none; } }

@media (max-width: 734px) {
  #ribbon__contact__lg {
    display: none; } }

.hero {
  position: relative;
  color: #f5f5f7;
  height: 829px;
  top: 0;
  overflow: hidden; }
  .hero .hero__image {
    z-index: -1;
    top: -56px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%; }
  .hero .copy__wrapper {
    text-align: center;
    padding-top: 53px; }
    .hero .copy__wrapper h2 {
      font-size: 57px;
      font-weight: 500;
      margin: 0;
      letter-spacing: -0.005em; }
    .hero .copy__wrapper h3 {
      font-weight: 300;
      font-size: 28px;
      margin: 6px 0 14px;
      letter-spacing: 0.004em; }
    .hero .copy__wrapper .cta__links {
      margin-top: 14px;
      color: #2997ff;
      font-size: 20px; }
      .hero .copy__wrapper .cta__links:nth-of-type(2) {
        margin-left: 35px; }
    .hero .copy__wrapper .chevron-right {
      height: 12px; }
  .hero .copy__wrapper__bottom {
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center; }
    .hero .copy__wrapper__bottom h2 {
      font-size: 21px;
      font-weight: 400;
      letter-spacing: 0.025em;
      margin: 5px 0; }
      .hero .copy__wrapper__bottom h2:nth-of-type(n + 2) {
        color: #a1a1a6;
        font-weight: 300; }
      .hero .copy__wrapper__bottom h2:nth-of-type(4) {
        margin-top: 20px; }

#hero__2 {
  color: black;
  height: 951px; }
  #hero__2 .hero__image {
    top: -45px;
    z-index: -2; }
  #hero__2 .copy__wrapper .cta__links {
    color: #06c; }
  #hero__2 .copy__wrapper__bottom h2 {
    font-weight: 400; }
    #hero__2 .copy__wrapper__bottom h2:nth-of-type(n + 2) {
      font-weight: 300;
      color: #86868b; }

#hero__3 {
  background-color: #000;
  z-index: -1;
  height: 692px; }
  #hero__3 .hero__image {
    top: 35%;
    height: 450px; }
  #hero__3 .copy__wrapper {
    padding-top: 43px; }

@media (min-width: 1069px) {
  #hero__1 .hero__image__md,
  #hero__1 .hero__image__sm,
  #hero__2 .hero__image__md,
  #hero__2 .hero__image__sm,
  #hero__3 .hero__image__md,
  #hero__3 .hero__image__sm {
    display: none; }
  #hero__3 .copy__wrapper .logo__image__md,
  #hero__3 .copy__wrapper .logo__image__sm {
    display: none; } }

@media (min-width: 769px) and (max-width: 1068px) {
  #hero__1 .hero__image__lg,
  #hero__1 .hero__image__sm,
  #hero__2 .hero__image__lg,
  #hero__2 .hero__image__sm,
  #hero__3 .hero__image__lg,
  #hero__3 .hero__image__sm {
    display: none; }
  #hero__1 {
    height: 754px; }
  #hero__2 {
    height: 871px; }
  #hero__3 {
    height: 650px; }
    #hero__3 .copy__wrapper .logo__image__lg,
    #hero__3 .copy__wrapper .logo__image__sm {
      display: none; }
  .hero .copy__wrapper {
    padding-top: 59px; }
    .hero .copy__wrapper h2 {
      font-size: 48px; }
    .hero .copy__wrapper h3 {
      font-size: 24px; }
    .hero .copy__wrapper .cta__links {
      font-size: 19px; }
  .hero .copy__wrapper__bottom {
    bottom: 63px; } }

@media (max-width: 768px) {
  #hero__1 .hero__image__lg,
  #hero__1 .hero__image__md,
  #hero__2 .hero__image__lg,
  #hero__2 .hero__image__md,
  #hero__3 .hero__image__lg,
  #hero__3 .hero__image__md {
    display: none; }
  #hero__1 {
    height: 665px; }
  #hero__2 {
    height: 665px; }
  #hero__3 {
    height: 500px; }
    #hero__3 .hero__image__sm {
      height: 333px; }
    #hero__3 .copy__wrapper .logo__image__lg,
    #hero__3 .copy__wrapper .logo__image__md {
      display: none; }
  .hero .copy__wrapper {
    padding-top: 22px; }
    .hero .copy__wrapper h2 {
      font-size: 32px; }
    .hero .copy__wrapper h3 {
      font-size: 19px; }
    .hero .copy__wrapper .cta__links {
      font-size: 19px; }
  .hero .copy__wrapper__bottom {
    bottom: 42px; }
    .hero .copy__wrapper__bottom h2 {
      font-size: 19px; } }

#modules {
  padding: 0 10px; }
  #modules .col {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: nowrap; }
    #modules .col .module {
      position: relative;
      height: 500px;
      width: 100%;
      background-color: #fbfbfd;
      overflow: hidden;
      margin-top: 10px; }
      #modules .col .module .module__img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0); }
      #modules .col .module .img__one {
        top: 40%; }
      #modules .col .module .img__watch {
        top: 35%; }
      #modules .col .module .light {
        color: #f5f5f7; }
        #modules .col .module .light .cta__links {
          color: #2997ff; }
      #modules .col .module .dark {
        color: black; }
        #modules .col .module .dark .cta__links {
          color: #06c; }
      #modules .col .module .top {
        top: 0; }
      #modules .col .module .bottom {
        bottom: 0; }
      #modules .col .module .copy__wrapper {
        z-index: 2;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 53px 0 44px;
        text-align: center; }
        #modules .col .module .copy__wrapper h4 {
          font-size: 32px;
          font-weight: 500;
          margin: 0;
          letter-spacing: -0.005em; }
        #modules .col .module .copy__wrapper h5 {
          font-weight: 300;
          font-size: 19px;
          margin: 6px 0 14px;
          letter-spacing: 0.004em;
          line-height: 1.25;
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content; }
          #modules .col .module .copy__wrapper h5 sup {
            font-size: 12px;
            font-weight: 400; }
        #modules .col .module .copy__wrapper .cta__links {
          margin-top: 14px;
          font-size: 17px;
          font-weight: 300; }
          #modules .col .module .copy__wrapper .cta__links:nth-of-type(2) {
            padding-left: 35px; }
          #modules .col .module .copy__wrapper .cta__links sup {
            font-size: 12px;
            font-weight: 400; }
        #modules .col .module .copy__wrapper .chevron-right {
          height: 10px; }

@media (min-width: 736px) {
  #modules .col {
    flex-wrap: wrap;
    height: calc((590px) * 3); }
    #modules .col .left {
      margin-right: 5px; }
    #modules .col .right {
      margin-left: 5px; }
    #modules .col .module {
      width: calc(50% - 5px); }
    #modules .col .module:nth-of-type(1),
    #modules .col .module:nth-of-type(3),
    #modules .col .module:nth-of-type(5) {
      order: 1; }
    #modules .col .module:nth-of-type(2),
    #modules .col .module:nth-of-type(4),
    #modules .col .module:nth-of-type(6) {
      order: 2; } }

@media (max-width: 1067px) {
  #modules .col .module .copy__wrapper .logo-lg {
    display: none; }
  #modules .col .module .copy__ipad {
    top: initial;
    bottom: 0; }
    #modules .col .module .copy__ipad h4 {
      display: none; }
    #modules .col .module .copy__ipad h5 {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; } }

@media (max-width: 735px) {
  #modules .col .module .img__md,
  #modules .col .module .img__lg {
    display: none; }
  #modules .col .module .img__ipad {
    top: 0; } }

@media (min-width: 736px) and (max-width: 1067px) {
  #modules .col {
    height: calc((498px) * 3); }
    #modules .col .module {
      width: calc(50% - 5px);
      height: 488px; }
      #modules .col .module .img__lg,
      #modules .col .module .img__sm {
        display: none; }
      #modules .col .module .img__ipad {
        top: -10%; }
      #modules .col .module .img__one {
        top: 50%; }
      #modules .col .module .img__fitness {
        top: -10%; }
      #modules .col .module .img__watch {
        top: 40%; } }

@media (min-width: 1069px) {
  #modules .col .module {
    height: 580px; }
    #modules .col .module .img__md,
    #modules .col .module .img__sm {
      display: none; }
    #modules .col .module .copy__wrapper .logo-md {
      display: none; }
    #modules .col .module .copy__wrapper h4 {
      font-size: 44px; }
    #modules .col .module .copy__wrapper h5 {
      font-size: 21px; } }

footer {
  background-color: #f5f5f7;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.9px;
  padding: 0 20px; }
  footer .footer__link {
    color: #1d1d1f;
    opacity: 0.8; }
  footer #footer__top,
  footer .footer__section {
    max-width: 980px;
    margin: 0 auto;
    border-bottom: 1px solid #d2d2d7; }
    footer #footer__top ul,
    footer .footer__section ul {
      padding: 10px 0 0;
      color: #a1a1a6;
      line-height: 1.5; }
      footer #footer__top ul li,
      footer .footer__section ul li {
        margin: 10px 0; }
  footer #footer__middle .row {
    display: flex;
    margin-bottom: 20px; }
    footer #footer__middle .row .col {
      padding-right: 20px;
      flex-basis: 20%; }
      footer #footer__middle .row .col ul {
        color: #1d1d1f; }
        footer #footer__middle .row .col ul li {
          opacity: 0.8;
          line-height: 1.25;
          margin: 10px 0; }
          footer #footer__middle .row .col ul li:nth-last-of-type(1) {
            margin-bottom: 0; }
        footer #footer__middle .row .col ul .list__heading {
          font-size: 13px;
          font-weight: 500;
          opacity: 1;
          letter-spacing: 0.5px; }
  footer #footer__middle p {
    color: #a1a1a6; }
    footer #footer__middle p a {
      color: #06c; }
  footer #footer__bottom {
    color: #a1a1a6;
    padding-bottom: 20px; }
    footer #footer__bottom p {
      display: inline-block; }
    footer #footer__bottom .bottom__links .footer__link {
      display: inline-block; }
      footer #footer__bottom .bottom__links .footer__link:nth-last-of-type(1) {
        margin-right: 0; }
        footer #footer__bottom .bottom__links .footer__link:nth-last-of-type(1)::after {
          content: '';
          margin: 0; }
      footer #footer__bottom .bottom__links .footer__link::after {
        content: '|';
        margin: 0 10px; }
    footer #footer__bottom .country__selection {
      display: relative;
      right: 0px;
      margin-top: 12px;
      float: right; }

@media (max-width: 568px) {
  #footer__middle {
    display: none; } }
