@font-face {
  font-family: SF Pro Display;
  src: url("../assets/fonts/SFProDisplay-Ultralight.ttf");
  font-weight: 200; }

@font-face {
  font-family: SF Pro Display;
  src: url("../assets/fonts/SFProDisplay-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: SF Pro Display;
  src: url("../assets/fonts/SFProDisplay-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: SF Pro Display;
  src: url("../assets/fonts/SFProDisplay-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: SF Pro Display;
  src: url("../assets/fonts/SFProDisplay-Semibold.ttf");
  font-weight: 600; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'SF Pro Display', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  overflow-x: hidden; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

nav {
  height: 44px;
  background-color: #333333; }
  nav .nav__wrapper {
    padding: 0 22px;
    height: 100%; }
    nav .nav__wrapper .nav__container {
      max-width: 1000px;
      padding: 0 11px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      nav .nav__wrapper .nav__container .nav__item {
        font-size: 14px;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center; }
        nav .nav__wrapper .nav__container .nav__item .nav__link {
          color: #f5f5f7;
          padding: 5px;
          margin: 0 6px;
          opacity: 0.8;
          transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
          font-weight: 300; }
          nav .nav__wrapper .nav__container .nav__item .nav__link:hover {
            opacity: 1; }
        nav .nav__wrapper .nav__container .nav__item .nav__link__img {
          height: 40px;
          width: 40px; }
        nav .nav__wrapper .nav__container .nav__item .nav__link__logo {
          background: url("../assets/images/nav/apple-logo.svg") center no-repeat; }
        nav .nav__wrapper .nav__container .nav__item .nav__link__search {
          background: url("../assets/images/nav/search.svg") center no-repeat;
          width: 24px; }
        nav .nav__wrapper .nav__container .nav__item .nav__link__bag {
          background: url("../assets/images/nav/bag.svg") center no-repeat;
          width: 24 px; }

#ribbon {
  background-color: white;
  color: #1d1d1f;
  font-weight: 400;
  height: 44px; }
  #ribbon .ribbon__container {
    width: 692px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px; }
    #ribbon .ribbon__container a {
      color: #0466cc;
      line-height: 44px; }
      #ribbon .ribbon__container a:hover {
        text-decoration: underline; }

.hero {
  position: relative;
  color: #f5f5f7;
  height: 816px;
  top: 0; }
  .hero .hero__image {
    z-index: -1;
    top: -56px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%; }
  .hero .copy__wrapper {
    text-align: center;
    padding-top: 53px; }
    .hero .copy__wrapper h2 {
      font-size: 57px;
      font-weight: 500;
      margin: 0;
      letter-spacing: -0.005em; }
    .hero .copy__wrapper h3 {
      font-weight: 300;
      font-size: 28px;
      margin: 6px 0 14px;
      letter-spacing: 0.004em; }
    .hero .copy__wrapper .cta__links {
      margin-top: 14px;
      color: #2997ff;
      font-size: 20px; }
      .hero .copy__wrapper .cta__links:nth-of-type(2) {
        margin-left: 35px; }
    .hero .copy__wrapper .chevron-right {
      height: 12px; }
  .hero .copy__wrapper__bottom {
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center; }
    .hero .copy__wrapper__bottom h2 {
      font-size: 21px;
      font-weight: 400;
      letter-spacing: 0.025em;
      margin: 5px 0; }
      .hero .copy__wrapper__bottom h2:nth-of-type(n + 2) {
        color: #a1a1a6;
        font-weight: 300; }
      .hero .copy__wrapper__bottom h2:nth-of-type(4) {
        margin-top: 20px; }

.hero__2 {
  color: black;
  height: 934px; }
  .hero__2 .hero__image {
    top: -45px;
    z-index: -2; }
  .hero__2 .copy__wrapper .cta__links {
    color: #0466cc; }
