// Global styling
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'SF Pro Display', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
