.hero {
  position: relative;
  color: $white;
  height: 829px;
  top: 0;
  overflow: hidden;
  .hero__image {
    z-index: -1;
    top: -56px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
  }
  .copy__wrapper {
    text-align: center;
    padding-top: 53px;
    h2 {
      font-size: 57px;
      font-weight: 500;
      margin: 0;
      letter-spacing: -0.005em;
    }
    h3 {
      font-weight: 300;
      font-size: 28px;
      margin: 6px 0 14px;
      letter-spacing: 0.004em;
    }
    .cta__links {
      margin-top: 14px;
      color: $lightblue;
      font-size: 20px;
      &:nth-of-type(2) {
        margin-left: 35px;
      }
    }
    .chevron-right {
      height: 12px;
    }
  }
  .copy__wrapper__bottom {
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    h2 {
      font-size: 21px;
      font-weight: 400;
      letter-spacing: 0.025em;
      margin: 5px 0;
      &:nth-of-type(n + 2) {
        color: $gray;
        font-weight: 300;
      }
      &:nth-of-type(4) {
        margin-top: 20px;
      }
    }
  }
}
#hero__2 {
  color: black;
  height: 951px;
  .hero__image {
    top: -45px;
    z-index: -2;
  }
  .copy__wrapper {
    .cta__links {
      color: $blue;
    }
  }
  .copy__wrapper__bottom {
    h2 {
      font-weight: 400;
      &:nth-of-type(n + 2) {
        font-weight: 300;
        color: $darkgray;
      }
    }
  }
}
#hero__3 {
  background-color: #000;
  z-index: -1;
  height: 692px;
  .hero__image {
    top: 35%;
    height: 450px;
  }
  .copy__wrapper {
    padding-top: 43px;
    // .logo__image {
    //   height: 64px;
    // }
  }
}

// large
@media (min-width: 1069px) {
  #hero__1,
  #hero__2,
  #hero__3 {
    .hero__image__md,
    .hero__image__sm {
      display: none;
    }
  }
  #hero__3 {
    .copy__wrapper {
      .logo__image__md,
      .logo__image__sm {
        display: none;
      }
    }
  }
}

// medium
@media (min-width: 769px) and (max-width: 1068px) {
  #hero__1,
  #hero__2,
  #hero__3 {
    .hero__image__lg,
    .hero__image__sm {
      display: none;
    }
  }
  #hero__1 {
    height: 754px;
  }
  #hero__2 {
    height: 871px;
  }
  #hero__3 {
    height: 650px;
    .copy__wrapper {
      .logo__image__lg,
      .logo__image__sm {
        display: none;
      }
    }
  }
  .hero {
    .copy__wrapper {
      padding-top: 59px;
      h2 {
        font-size: 48px;
      }
      h3 {
        font-size: 24px;
      }
      .cta__links {
        font-size: 19px;
      }
    }
    .copy__wrapper__bottom {
      bottom: 63px;
    }
  }
}

// small
@media (max-width: 768px) {
  #hero__1,
  #hero__2,
  #hero__3 {
    .hero__image__lg,
    .hero__image__md {
      display: none;
    }
  }
  #hero__1 {
    height: 665px;
  }
  #hero__2 {
    height: 665px;
  }
  #hero__3 {
    height: 500px;
    .hero__image__sm {
      height: 333px;
    }
    .copy__wrapper {
      .logo__image__lg,
      .logo__image__md {
        display: none;
      }
    }
  }
  .hero {
    .copy__wrapper {
      padding-top: 22px;
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 19px;
      }
      .cta__links {
        font-size: 19px;
      }
    }
    .copy__wrapper__bottom {
      bottom: 42px;
      h2 {
        font-size: 19px;
      }
    }
  }
}
