#modules {
  padding: 0 10px;
  .col {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: nowrap;
    .module {
      position: relative;
      height: 500px;
      width: 100%;
      background-color: #fbfbfd;
      overflow: hidden;
      margin-top: 10px;
      .module__img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .img__one {
        top: 40%;
      }
      .img__watch {
        top: 35%;
      }
      .light {
        color: $white;
        .cta__links {
          color: $lightblue;
        }
      }
      .dark {
        color: black;
        .cta__links {
          color: $blue;
        }
      }
      .top {
        top: 0;
      }
      .bottom {
        bottom: 0;
      }
      .copy__wrapper {
        z-index: 2;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 53px 0 44px;
        text-align: center;
        h4 {
          font-size: 32px;
          font-weight: 500;
          margin: 0;
          letter-spacing: -0.005em;
        }
        h5 {
          font-weight: 300;
          font-size: 19px;
          margin: 6px 0 14px;
          letter-spacing: 0.004em;
          line-height: 1.25;
          width: max-content;
          sup {
            font-size: 12px;
            font-weight: 400;
          }
        }
        .cta__links {
          margin-top: 14px;
          font-size: 17px;
          font-weight: 300;
          &:nth-of-type(2) {
            padding-left: 35px;
          }
          sup {
            font-size: 12px;
            font-weight: 400;
          }
        }
        .chevron-right {
          height: 10px;
        }
      }
    }
  }
}

// medium and large
@media (min-width: 736px) {
  #modules .col {
    flex-wrap: wrap;
    height: calc((590px) * 3);
    .left {
      margin-right: 5px;
    }
    .right {
      margin-left: 5px;
    }
    .module {
      width: calc(50% - 5px);
    }
    .module:nth-of-type(1),
    .module:nth-of-type(3),
    .module:nth-of-type(5) {
      order: 1;
    }
    .module:nth-of-type(2),
    .module:nth-of-type(4),
    .module:nth-of-type(6) {
      order: 2;
    }
  }
}

// small and medium
@media (max-width: 1067px) {
  #modules .col {
    .module {
      .copy__wrapper {
        .logo-lg {
          display: none;
        }
      }
      .copy__ipad {
        top: initial;
        bottom: 0;
        h4 {
          display: none;
        }
        h5 {
          width: max-content;
        }
      }
    }
  }
}

// small
@media (max-width: 735px) {
  #modules .col {
    .module {
      .img__md,
      .img__lg {
        display: none;
      }
      .img__ipad {
        top: 0;
      }
    }
  }
}

// medium
@media (min-width: 736px) and (max-width: 1067px) {
  #modules .col {
    height: calc((498px) * 3);
    .module {
      width: calc(50% - 5px);
      height: 488px;
      .img__lg,
      .img__sm {
        display: none;
      }
      .img__ipad {
        top: -10%;
      }
      .img__one {
        top: 50%;
      }
      .img__fitness {
        top: -10%;
      }
      .img__watch {
        top: 40%;
      }
    }
  }
}

// large
@media (min-width: 1069px) {
  #modules .col {
    .module {
      height: 580px;
      .img__md,
      .img__sm {
        display: none;
      }
      .copy__wrapper {
        .logo-md {
          display: none;
        }
        h4 {
          font-size: 44px;
        }
        h5 {
          font-size: 21px;
        }
      }
    }
  }
}
